/* Tiptap Editor Styling */
.ProseMirror {
  outline: none !important;
  min-height: 300px;
}

/* The Placeholder Text ("Tell your story...") */
.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  font-style: italic;
}